.container {
    position: relative;
    width: 100%; /* Ancho de la imagen */
    height: 100%; /* Altura ajustada automáticamente */
}

.textoa {
    position: absolute;
    top: 35%; /* Posiciona el contenedor de texto en el centro vertical */
    left: 50%; /* Posiciona el contenedor de texto en el centro horizontal */
    transform: translate(-50%, -50%); /* Centra el contenedor */
    text-align: center; /* Centra horizontalmente el texto */
    font-size: 200%;
}

.textob {
    position: absolute;
    top: 45%; /* Posiciona el contenedor de texto en el centro vertical */
    left: 50.2%; /* Posiciona el contenedor de texto en el centro horizontal */
    transform: translate(-50%, -50%); /* Centra el contenedor */
    text-align: center; /* Centra horizontalmente el texto */
    font-size: 200%;
}
.container img{
    width: 100%;
    height: 700px; /* Establece la altura deseada */
    display: block;
    object-fit: cover; /* Para que la imagen mantenga su relación de aspecto */
}

.P{
    text-align: center;
}
.imagenesmedio {
    text-align: center; /* Centra horizontalmente el bloque de imágenes */
}

.imagenesmedio img {
    width: 20%; /* Ancho deseado de las imágenes */
    height: auto; /* Altura ajustada automáticamente */
    margin: 10px; /* Espacio entre las imágenes */
}

.parteazul {
    background-color: rgb(25, 163, 154); /* Color de fondo azul */
    text-align: center; /* Centra horizontalmente el texto */
    color: white; /* Color del texto blanco */
    padding: 20px; /* Espaciado interno */
}

.texto {
    font-size: 150%;

}



.info-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Espacio entre la sección azul y esta sección */
}

.info-left {
    flex: 1;
    margin-left: 9%;
}

.info-right {
    flex: 1;
    margin-right: 7%; /* Espacio entre el contenido derecho y el contenido izquierdo */
}

.info-right iframe {
    width: 100%; /* Ajusta el ancho del mapa al 100% del contenedor */
    height: 350px; /* Altura fija para el mapa */
}